body{
  background-color: antiquewhite;
}

form {
  background-color: #236B43;
  height: 200px;
  margin: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  margin: 1rem;
  border-radius: 5px;
  height: 25px;
}